<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/detail_post_json" method="post">
    <div>
        <h1>Board Detail</h1>
    </div>
    <div>
        title: <input type="text" id="title" name="title" placeholder="Title">
    </div>
    <div>
        content: <input type="text" id="content" name="content" placeholder="Content">
    </div>
    <div>
        <button id="submit">Submit</button>
    </div>
    </form>
</body>
</html>